*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.contenedor{
    background-image: url('es.gif');
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    
}

p{
    font-size: xx-large;
    padding: 15%;
    color:  white;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}
button:hover {
    background-color: #2980b9;
}
.botones {
    display: flex;
    gap: 1rem;
}

#yesBtn{
    transform: translate(-100%,0);
    background-color: #2ecc71;
    color: white;
}

#noBtn{
    position: absolute;
    background-color: #e74c3c;
    color: white;
    z-index: 0;
}


